redfish.yaml
config.yaml
# Added by goreleaser init:
dist/
tftpboot/
data/
.DS_Store
gofish
bin/*
**/env/*
**/gofiles/*
**/*.zip
**/DSP*
tools/gofiles*
**/node_modules/*
**/vendor/*
**/dist/*
**/dist-*
images/
!images/*.go
tools/*.json
_out/
tools/*/
*.fd
fw-vars.json
openapi.yaml
.vscode/settings.json
bin/
out/
/metal-boot
hack/
terraform.tfstate*
.terraform/
.terraform.lock.hcl